head
  title="Keca Files - Dashboard"
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400")
  link(rel="stylesheet", href="/static/css/main.css")
  link(rel="stylesheet", href="/static/css/special.css")
  script(src="/static/js/main.js")
