div.navbar
  h1.logo Keca Files
  ul.navmenu
    li: a(class="navbtn navbtn-upload", href="#", title="upload files", id="upload-btn") Upload
    li: a.navbtn(href="/dash", title="My Files") My Files
    li: a.navbtn(href="/dash/myaccount", title="My Account") My Account
    li: a.navbtn(href="/auth/logout", title="Logout") Logout
