div(class="upload-container", id="upload-container")
  form.form-upload(action="/dash/upload", method="post", enctype="multipart/form-data")
    div.title-container
      h1.title File Upload
        a(href="#" class="close-upload" id="close-upload") &times;
    input(type="file", name="userFile", class="upload-file")
    br
    br
    input(type="submit", class="upload-btn", value="Upload")
