html
  include inc/head.pug
  body
    include inc/notice.pug
    include inc/navbar.pug
    div.container-account
      br
      br
      div
        input(type="text", class="account-input reverse", placeholder="Username", value=userData.username)
      div
        input(type="password", class="account-input reverse", placeholder="Password")
      div
        input(type="password", class="account-input reverse", placeholder="Password")
      br
      br
      div
        a(href="/dash", class="account-btn") Cancel
        a(href="#", class="account-btn account-btn-reversed") Save
    include inc/upload.pug
