html
  include inc/head.pug
  body
    include inc/notice.pug
    include inc/navbar.pug
    div.container.container-files
      if files == ""
        h1 No files found :(
      each file in files
        div.card.file
          div.card-image
            img(src=file.thumb, title=file.type)
          div.card-content
            - var name = file.name.split('.')[0];
            p #{name}
          footer.card-footer
            p.card-footer-item
              span
                - var path = "/dash/remove/" + file.id;
                a(href=path, class="file-btn delete-btn") Delete
            p.card-footer-item
              span
                - var path = "/dash/download/" + file.id;
                a(href=path) Download
    include inc/upload.pug
