html
  include inc/head.pug  
  body
    include inc/notice.pug
    div.container-custom
      div.login
        h1.title.is-7="Keca Files"
        br
        form(action="/auth/login", method="post")
          input.custom-input(type="text", name="username", placeholder="Username")
          br
          input.custom-input(type="password", name="password", placeholder="Password")
          br
          br
          input.custom-button(type="submit", value="login")
        br
        br
        p
          |don't have an account? click 
          a(href="/auth/register", title="register") here 
          | to register
        br
        br
