html
  include inc/head.pug
  body
    include inc/notice.pug
    div.container-custom
      div.login
        h1.title.is-7="Keca Files"
        br
        form(action="/auth/register", method="post")
          input.custom-input(type="text", name="username", placeholder="Username")
          br
          input.custom-input(type="password", name="password", placeholder="Password")
          br
          input.custom-input(type="text", name="accesscode", placeholder="Access Code")
          br
          br
          input.custom-button(type="submit", value="register")
        br
        br
        br
        p
          |already have an account? click 
          a(href="/auth/login", title="login") here 
          | to login
        br
