.custom-input {
  border: none;
  background: #84C7B5;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 5px 15px;
  color: white;
  margin: 10px 0;
  width: 328px; }

.custom-input:focus, .custom-button:focus {
  outline: none; }

.custom-button {
  cursor: pointer;
  background: #84C7B5;
  color: white;
  border: none;
  font-size: 18px;
  padding: 5px 20px;
  width: 154px;
  height: 35px;
  border-radius: 5px; }

.account-input {
  border: none;
  color: #84C7B5;
  background: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 17px; }

.account-input:focus, .account-btn:focus {
  outline: none; }

.account-btn {
  cursor: pointer;
  background: #5E5E5E;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 15px;
  font-size: 16px;
  border: none; }

.account-btn-reversed {
  background: #84C7B5; }

.account-btn:hover {
  color: white; }

.notify {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  transition: width 1s;
  background: white;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 50px;
  padding: 10px;
  width: 0%;
  font-size: 21px;
  z-index: 10; }

.upload-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none; }

.upload-file {
  border: 2px dashed #84C7B5;
  padding: 30px 50px;
  background: transparent; }

.upload-file:focus {
  outline: none; }

.upload-btn {
  border: none;
  background: #84C7B5;
  padding: 10px 45px;
  border-radius: 5px;
  color: white;
  text-align: center; }

.delete-btn {
  color: #e74c3c; }

.title-container {
  margin-bottom: 24px; }

.close-upload {
  padding: 15px;
  font-size: 1em;
  font-weight: normal; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Monserrat', sans-serif; }

body {
  background: #EDEDED; }

.container-files {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.container-custom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDEDED; }

.container-account {
  display: flex;
  margin-top: 35px;
  width: 100%;
  text-align: center;
  flex-flow: column; }

.login {
  text-align: center; }

.login .title {
  color: #84C7B5; }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px;
  width: 100%;
  background: #EDEDED; }

.logo {
  font-size: 24px;
  color: #000;
  opacity: 0.8;
  font-weight: 400; }

.navmenu li {
  display: inline;
  margin: 0 10px; }

.navbtn {
  transition: color 0.2s;
  font-size: 17px;
  color: #000;
  opacity: 0.7; }

.navbtn-upload {
  color: #84C7B5;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #84C7B5; }

.navbtn:hover {
  color: #84C7B5;
  opacity: 1; }

.file {
  margin: 0 10px; }

.file-thumb {
  width: 160px;
  border-radius: 5px; }

.thumb-title {
  margin-top: 10px;
  text-align: center;
  font-size: 21px; }
