::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}



.reverse::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #84C7B5;
}
.reverse:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #84C7B5;
   opacity:  1;
}
.reverse::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #84C7B5;
   opacity:  1;
}
.reverse:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #84C7B5;
}
.reverse::-ms-input-placeholder { /* Microsoft Edge */
   color: #84C7B5;
}
