.custom-input {
  border: none;
  background: $green;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 5px 15px;
  color: white;
  margin: 10px 0;
  width: 328px;
}

.custom-input:focus, .custom-button:focus {
  outline: none;
}

.custom-button {
  cursor: pointer;
  background: $green;
  color: white;
  border: none;
  font-size: 18px;
  padding: 5px 20px;
  width: 154px;
  height: 35px;
  border-radius: 5px;
}

.account-input {
  border: none;
  color: #84C7B5;
  background: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 17px;
}

.account-input:focus, .account-btn:focus {
  outline: none;
}


.account-btn {
  cursor: pointer;
  background: $darkGrey;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
}

.account-btn-reversed {
  background: $green;
}

.account-btn:hover {
  color: white;
}
