@import "vars";
@import "inputs";
@import "notifications";
@import "upload";

* {
  padding: 0;
  margin: 0;
  font-family: 'Monserrat', sans-serif;
}

body {
  background: $grey;
}

.container-files {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-custom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey;
}

.container-account {
  display: flex;
  margin-top: 35px;
  width: 100%;
  text-align: center;
  flex-flow: column;
}

.login {
  text-align: center;
}

.login .title {
  color: $green;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px;
  width: 100%;
  background: $grey;
}

.logo {
  font-size: 24px;
  color: $black;
  opacity: 0.8;
  font-weight: 400;
}

.navmenu li {
  display: inline;
  margin: 0 10px;
}


.navbtn {
  transition: color 0.2s;
  font-size: 17px;
  color: $black;
  opacity: 0.7;
}

.navbtn-upload {
  color: $green;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid $green;
}

.navbtn:hover {
  color: $green;
  opacity: 1;
}

.file {
  margin: 0 10px;
}

.file-thumb {
  width: 160px;
  border-radius: 5px;
}

.thumb-title {
  margin-top: 10px;
  text-align: center;
  font-size: 21px;
}
