.notify {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  transition: width 1s;
  background: white;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 50px;
  padding: 10px;
  width: 0%;
  font-size: 21px;
  z-index: 10;
}
