.upload-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  text-align: center;
  display: none;
}

.upload-file {
  border: 2px dashed $green;
  padding: 30px 50px;
  background: transparent;
}

.upload-file:focus {
  outline: none;
}

.upload-btn {
  border: none;
  background: $green;
  padding: 10px 45px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.delete-btn {
  color: $red;
}

.title-container {
  margin-bottom: 24px;
}

.close-upload {
  padding: 15px;
  font-size: 1em;
  font-weight: normal;
}